<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {#    <link rel="stylesheet" type="text/css" href="../static/css/style.css" title="style"/>#}
    <title>{{ title }}</title>
</head>
<body>
<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <h1><a href="/">mindl<span class="logo_colour">.in</span></a></h1>
                <h2>Simple. Contemporary. Website Template.</h2>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <li><a href="/">Home</a></li>
                <li class="selected"><a href="/about/">О нас</a></li>
                <li><a href="/contact/">Контакты</a></li>
            </ul>
        </div>
    </div>
    <div id="site_content">
        {#        <div class="sidebar">#}
        {#            <!-- insert your sidebar items here -->#}
        {#            <h3>Latest News</h3>#}
        {#            <h4>New Website Launched</h4>#}
        {#            <h5>September 1st, 2013</h5>#}
        {#            <p>2013 sees the redesign of our website. Take a look around and let us know what you think.<br/><a#}
        {#                    href="#">Read more</a></p>#}
        {#            <p></p>#}
        {#            <h4>New Website Launched</h4>#}
        {#            <h5>September 1st, 2013</h5>#}
        {#            <p>2013 sees the redesign of our website. Take a look around and let us know what you think.<br/><a#}
        {#                    href="#">Read more</a></p>#}
        {#            <h3>Useful Links</h3>#}
        {#            <ul>#}
        {#                <li><a href="#">link 1</a></li>#}
        {#                <li><a href="#">link 2</a></li>#}
        {#                <li><a href="#">link 3</a></li>#}
        {#                <li><a href="#">link 4</a></li>#}
        {#            </ul>#}
        {#            <h3>Search</h3>#}
        {#            <form method="post" action="#" id="search_form">#}
        {#                <p>#}
        {#                    <input class="search" type="text" name="search_field" value="Enter keywords....."/>#}
        {#                    <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;"#}
        {#                           src="../static/img/search.png"#}
        {#                           alt="Search" title="Search"/>#}
        {#                </p>#}
        {#            </form>#}
        {#        </div>#}
        <div id="content">
            <h1>О нас</h1>
            <p>Философский вопрос...</p>
            <p>Сегодня: <b>{{ date }}</b></p>
            <p>Время: <b>{{ time }}</b></p>
            <p>Ваша операционная система: <b>{{ os }}</b></p>
        </div>
    </div>
    <div id="footer">
        Copyright &copy; Anton Mindlin
    </div>
</div>
</body>
