{% extends '_base.html' %}

{% block title %}Создать товар{% endblock title %}

{% block content %}
    <h2>Создание товара:</h2>
    <form action="#" method="post">
        <div class="form_settings">
            <p>
                <label>Тип товара:
                    <select name="type">
                        <option value="digital">Цифровой</option>
                        <option value="physical">Физический</option>
                    </select>
                </label>
            </p>
            <p>
                <label>Название:
                    <input class="contact" type="text" name="title" placeholder="название товара"/>
                </label>
            </p>
            <p><button type="submit" class="submit">Сохранить</button></p>
        </div>
    </form>
{% endblock content %}