{% extends '_base.html' %}

{% block title %}Создать пользователя{% endblock title %}

{% block content %}
    <h2>Создание пользователя:</h2>
    <form action="#" method="post">
        <div class="form_settings">
            <p>
                <label>Выберите пользователя:
                    <select name="buyer_name">
                        {% for buyer in buyers %}
                            <option value="{{ buyer.name }}">{{ buyer.name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </p>
            <p>
                <label>Выберите товар:
                    <select name="item_id">
                        {% for item in items %}
                            <option value="{{ item.id }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>
                </label>
            </p>
            <p>
                <button type="submit" class="submit">Добавить</button>
            </p>
        </div>
    </form>
{% endblock content %}