{% extends '_base.html' %}

{% block title %}Пользователи{% endblock title %}

{% block content %}
    <a href="/user/create/">+ Добавить пользователя</a>
    <h2>Пользователи:</h2>
    <div>
        <a href="/users/buyers/">Покупатели</a>
        <a href="/users/sellers/">Продавцы</a>
    </div>
    <ul>
        {% for user in users %}
        <li>
            {{ user.name }}
            {% if user.items %}
                (
                    {% for item in user.items %}
                        {{ item.title }},
                    {% endfor %}
                )
            {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
