{% extends '_base.html' %}

{% block title %}Создать пользователя{% endblock title %}

{% block content %}
    <h2>Создание пользователя:</h2>
    <form action="#" method="post">
        <div class="form_settings">
            <p>
                <label>Тип пользователя:
                    <select name="type">
                        <option value="buyer">Покупатель</option>
                        <option value="seller">Продавец</option>
                    </select>
                </label>
            </p>
            <p>
                <label>Имя:
                    <input class="contact" type="text" name="name" placeholder="имя пользователя"/>
                </label>
            </p>
            <p>
                <button type="submit" class="submit">Сохранить</button>
            </p>
        </div>
    </form>
{% endblock content %}